.footer-layout.grid-2-cols.Footer-html {
  grid-row-gap: 0rem;

}
.footer-about-layout.Footer-html{
    grid-row-gap: 0rem !important;
}
.footer-legal-link {
  color: var(--_colors---text--soft-400);
  transition: color 0.2s;
}
.footer-legal-link:hover {
  color: var(--_colors---text--white-0);
}
.footer-links-list {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.footer-legal-text {
  color: var(--_colors---text--soft-400);
}
.footer-about-layout {
  grid-column-gap: 1.25rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  width: 80%;
}
/* .footer-link {
    font-size: 1rem;
    line-height: 150%;
    --tw-font-weight: 400;
    font-weight:400;
    color:#fff;
    position: relative;
    overflow: hidden;
} */

.footer-link {
  position: relative;
  color: #fff;
  display: inline-block;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 150%;
  text-decoration: none;
}

/* underline animation */
.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* adjust underline position */
  width: 0%;
  height: 1px; /* underline thickness */
  background-color: #fff;
  transition: width 0.5s ease;
  z-index: 9999;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-menu-list {
  grid-column-gap:0.75rem;
  grid-row-gap: 0.75rem;
  flex-flow: column;
  display: flex;
  width: max-content;
}
.footer-link-text.Address{
  width: 250px;
}
.footer-menu-wrap {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}
.footer-menu-list-header {
  margin-bottom:0.75rem;
  color: #548aff;
}
.footer {
  border-top: 1px solid #2b303b;
  background-color: #181b25;
  position: relative;
  z-index: 999;
  padding-top: 0;
  padding-bottom: 20px;
}
.grid-2-cols {
  grid-column-gap: 1.5rem;
  grid-row-gap:1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
.logo-link {
  grid-column-gap:0.5rem;
  grid-row-gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.logo-text {
    color: #fff;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 500;
}
.text-style-small {
    font-family: Inter, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0em;
}
.log-bottom-text{
    font-size: 1rem;
    color: #cacfd8;
    line-height: 1.6;
    letter-spacing: 0em;
}
.padding-bottom-tiny {
    height: 100%;
    position: relative;
}
.padding-top-small {
    height: 100%;
    position: relative;
}

.container {
    max-width: 79rem;
    padding-right:2rem;
    padding-left: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
/* .footer-link:before {
    content: var(--tw-content);
    content: var(--tw-content);
    bottom: calc(var(--spacing) * 0);
    content: var(--tw-content);
    left: calc(var(--spacing) * 0);
    content: var(--tw-content);
    content: var(--tw-content);
    content: var(--tw-content);
    transform-origin: 100%;
    content: var(--tw-content);
    --tw-scale-x: 0%;
    width: 100%;
    height: 1px;
    scale: var(--tw-scale-x) var(--tw-scale-y);
    content: var(--tw-content);
    background-color: var(--color-white);
    content: var(--tw-content);
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    content: var(--tw-content);
    --tw-duration: .5s;
    content: var(--tw-content);
    --tw-content: "";
    content: var(--tw-content);
    transition-duration: .5s;
    position: absolute;
} */

.foot-log-img{
  height: 100px;
}
.foot-gov-img{
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
    .footer-layout.grid-2-cols {
    grid-row-gap: 5rem;
    grid-template-columns: 1fr;
  }
  .footer-links-list {
    justify-content: flex-start;
    align-items: center;
  }
  .footer-menu-wrap {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .footer-layout.grid-2-cols {
    grid-row-gap: 2.5rem;
  }
  .footer-links-list {
    justify-content: flex-start;
    align-items: center;
  }
  .footer-menu-wrap {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 480px) {
  .footer-menu-wrap {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}

/* Section padding + background */
.footerAboveContact-section {
    background-color: #0e121b;
}

@media (min-width: 768px) {
    .footerAboveContact-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 1024px) {
    .footerAboveContact-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* Main container */
.footerAboveContact-container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}
.main-foot
{
  padding-top: 3rem !important;
}

/* Flex wrapper */
.footerAboveContact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    .footerAboveContact-wrapper {
        flex-direction: row;
    }
}

/* LEFT SIDE ----------------------------------- */
.footerAboveContact-left {
    width: 100%;
    text-align: center;
    max-width: 650px;
}

@media (min-width: 1024px) {
    .footerAboveContact-left {
        text-align: left;
    }
}

.footerAboveContact-left-text {
    margin-top: 1rem;
}

.footerAboveContact-heading {
    font-size: 1.5rem;
    font-family: Inter, Arial, sans-serif;
    color: #fff;
    line-height: 140%;
}
.footerAboveContact-heading-text{
  font-size: 1rem;
}

.footerAboveContact-hide {
    display: none;
}

/* RIGHT SIDE -------------------------------------- */
.footerAboveContact-right {
    width: 100%;
    margin-top: 0px;
    text-align: center;
    padding-top: 40px;
}

@media (min-width: 1024px) {
    .footerAboveContact-right {
        padding-top: 67px;
        max-width: 466px;
        margin-left: 0;
    }
}

@media (min-width: 1280px) {
    .footerAboveContact-right {
        margin-left: 100px;
    }
}

/* FORM */
.footerAboveContact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 640px) {
    .footerAboveContact-form {
        flex-direction: row;
        gap: 12px;
    }
}

.footerAboveContact-input {
    padding: 12px 18px !important;
    height: 48px !important;
    border-radius: 50px !important;
    border: 1px solid #dfe4eb !important;
    width: 100% !important;
    max-width: 340px !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: var(--shadow-1) !important;
}

.footerAboveContact-input:focus {
    border-color: var(--primary-600);
}

/* BUTTON */
.footerAboveContact-btn {
    height: 48px !important;
    border-radius: 50px !important;
    padding: 0 1.2rem !important;
    cursor: pointer !important;
    background: #864ffe !important;
    color: white !important;
    font-size: 14px !important;
    border: none !important;
}

/* POINTS -------------------------------------------- */
.footerAboveContact-points {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: start;
    padding-left: 0;

}

@media (min-width: 1024px) {
    .footerAboveContact-ppoints {
        justify-content: flex-start;
    }
}

.footerAboveContact-point-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.footerAboveContact-icon {
    width: 18px;
    height: 18px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerAboveContact-get-started-btn{
  background-color: #fdf7bc;
}
.footerAboveContact-get-started-btn {
    padding: 0.5rem 2rem;
    font-size: 0.875rem;
    line-height:150%;
    --tw-font-weight:400;
    font-weight: 400;
    text-wrap: nowrap;
    color: #1a1a1c;
    --tw-backdrop-blur: blur(var(--blur-ns-badge-blur));
    -webkit-backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
    backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
    border-radius: 3.40282e38px;
    display: inline-block;
}






/* Navbarcss */
    .navigation {
    background-color: #0000;
    position: fixed;
    inset: 0% 0% auto;
}
.w-nav {
    z-index: 1000;
    background: #ddd;
    position: relative;
}
.w-nav:before, .w-nav:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}
.container-small {
    max-width: 64rem;
    padding-right: 2rem;
    padding-left:2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 999;
}
.nav-wrap {
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid #99a0ae1a;
    border-radius: 1rem;
    background-color: #99a0ae1a;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: relative;
}
.nav-blur-layer {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
}
.nav-layout.grid-3-cols {
    grid-template-columns: 1fr 2.5fr 1fr;
}
.nav-layout {
    justify-content: center;
    align-items: center;
}
.grid-3-cols {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
#w-node-ed1a30f1-6737-bc57-209a-0418d51ae10e-d51ae109 {
    justify-self: start;
    display: flex;
    align-items: center;
}
.logo-link {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.logo {
    object-fit: contain;
    height: 1.75rem;
}
.logo-text {
    color: #fff;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 500;
}
.nav-menu {
    justify-content: center;
    align-items: center;
    display: flex;
}
.w-nav-menu {
    float: right;
    position: relative;
}
.nav-links-list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.nav-link {
    padding: 0.5rem 1rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.6;
    font-weight: 400;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    transition: opacity 0.2s;
    display: flex;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
#w-node-ed1a30f1-6737-bc57-209a-0418d51ae124-d51ae109 {
    justify-self: end;
}
.nav-rights {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.button-main.small:where(.w-variant-4f1ced44-5afc-4753-1771-3275f473f97b) {
    --_button-style---button--background: #f5f7fa !important;
    --_button-style---button--text: #0e121b !important;
}

.button-main.small {
    padding: 0.5rem 1rem ;
    font-size: 0.875rem;
    line-height: 1.6;
    letter-spacing: 0rem;
    height: 2.5rem;
}
.button-main {
    padding: var(--_spacing---space--spacing-md) var(--_spacing---space--spacing-xl);
    border-radius: 0.5rem;
    background-color: #f5f7fa;
    color: #0e121b;
    font-weight: 500;
    --_button-style---button--background: #f5f7fa;
    --_button-style---button--text: #0e121b;
    justify-content: center;
    align-items: center;
    height: 3.25rem;
    display: flex;
    overflow: hidden;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.button-text-wrap {
    text-align: center;
    flex-flow: column;
    height: 1.5rem;
    display: flex;
}
.button-text-reveal {
    transform: translateY(80%);
}
.nav-menu-button {
    padding: 0.75rem;
}
.w-nav-button {
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: #0000;
    tap-highlight-color: #0000;
    -webkit-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative;
}
.w-nav-overlay {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
}
.w-nav-button {
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: #0000;
    tap-highlight-color: #0000;
    -webkit-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative;
}
.main-sec{
  padding-top: 5%;
}
@media screen and (max-width: 991px) {
    .w-nav[data-collapse="medium"] .w-nav-button {
        display: block;
    }
            .menu-button-icon-line {
            background-color: #fff;
            width: 1.25rem;
            height: 1px;
            padding: 0;
        }
            .menu-button-icon-line {
        background-color: #fff;
        width: 1.25rem;
        height: 1px;
        padding: 0;
    }
    .nav-links-list{
      display: none;
    }
    .menu-button-icon {
        grid-column-gap: 6px;
        grid-row-gap: 6px;
        flex-flow: column;
        display: flex;
    }
}
.x_wd_shape_petal,
.x_wd_video_play_icon,
.s_wd_testimonial{
  display: none !important;
}
.landscape-hide{
  display: block !important;
}
.FC-Con-hero{
  padding-top: 5%;
}
body,h1,h2,h3,h4,h5,h6{
  font-family: "Inter Tight", sans-serif !important;
}
.x_wd *[class*="display-"], .x_wd_ff_script[class*="display-"]{
    font-family: "Inter Tight", sans-serif !important;
    font-size: 3rem !important;
}
.x_wd_shape_circle::before, .x_wd_shape_circle_xs::before, .x_wd_shape_circle_sm::before{
  background-color: #181b25;
}
.x_wd_shape::after{
  background-color: #181b25;
}