@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
 font-family: "Inter", "Odoo Unicode Support Noto", sans-serif;
background-color: #232323;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 23vw;
    color: #e1e1e1;
    margin: 0;
    padding: 0;
    transition: background-color .3s, color .3s;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Caveat", cursive;
}

a,p {
 font-family: "Inter", "Odoo Unicode Support Noto", sans-serif;
 margin: 0;
}


/* Only affects the sidebar */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #e9f2f7 transparent;
}

/* Chrome, Edge, Safari */
.sidebar-scroll::-webkit-scrollbar {
  width: 2px;
}

/* Create top & bottom spacing for scrollbar track */
.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 8px 0; /* adds space above and below the scrollbar */
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 4px;
  min-height: 20px; /* ensures it's not too tiny */
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #718096;
}


@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-animation {
  animation: zoomInOut 1.5s ease-in-out infinite;
}


.hero-background-wrap{
  pointer-events: none;
    position: absolute;
    inset: 0%;
    overflow: hidden;
    height: 120vh;

}
.hero-blob-center{
    background-image: linear-gradient(90deg, #3b82f64d, #2563eb 50%, #3b82f64d);
    filter: blur(100px);
    mix-blend-mode: plus-lighter;
    width: 100%;
    min-height: 50%;
    position: absolute;
    inset: auto auto 10%;
}
.hero-blob-left{
    aspect-ratio: 1;
    background-image: radial-gradient(circle farthest-corner at 0% 100%, #1d4ed8, transparent 34%);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
}
.hero-blob-right{
    aspect-ratio: 1;
    background-image: radial-gradient(circle farthest-corner at 0% 100%, #1d4ed8, transparent 34%);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
}

.hero-background-wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;  /* control the fade size */
    background: linear-gradient(
        to bottom,
        transparent 0%,   /* transparent */
        transparent 30%,/* light blue */
        #232323 100%          /* solid black */
    );
    pointer-events: none;
    z-index: 10;
}


.hero-bakground-pattern {
    max-width: 90rem;
    mix-blend-mode: plus-lighter;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: auto 0% 0%;
}
