@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
 font-family: "Inter", "Odoo Unicode Support Noto", sans-serif;
background-color: #232323;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 23vw;
    color: #e1e1e1;
    margin: 0;
    padding: 0;
    transition: background-color .3s, color .3s;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Caveat", cursive;
}

a,p {
 font-family: "Inter", "Odoo Unicode Support Noto", sans-serif;
 margin: 0;
}


/* Only affects the sidebar */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #e9f2f7 transparent;
}

/* Chrome, Edge, Safari */
.sidebar-scroll::-webkit-scrollbar {
  width: 2px;
}

/* Create top & bottom spacing for scrollbar track */
.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 8px 0; /* adds space above and below the scrollbar */
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 4px;
  min-height: 20px; /* ensures it's not too tiny */
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #718096;
}


@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-animation {
  animation: zoomInOut 1.5s ease-in-out infinite;
}
